# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#ignore thumbnails created by windows
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
ServiceHelp/bin/Debug/ServiceHelp.dll
ServiceHelp/bin/Debug/ServiceHelp.pdb
ServiceHelp/obj/Debug/ServiceHelp.csproj.FileListAbsolute.txt
ServiceHelp/obj/Debug/ServiceHelp.dll
ServiceHelp/obj/Debug/ServiceHelp.pdb
TestConsole/bin/Debug/TestConsole.exe
TestConsole/bin/Debug/TestConsole.pdb
TestConsole/obj/Debug/TestConsole.csprojResolveAssemblyReference.cache
TestConsole/obj/Debug/TestConsole.exe
TestConsole/obj/Debug/TestConsole.pdb
WebApplication2/bin/ServiceHelp.dll
WebApplication2/bin/ServiceHelp.pdb
WebApplication2/bin/WebApplication2.dll
WebApplication2/bin/WebApplication2.pdb
WebApplication2/obj/Debug/WebApplication2.csprojResolveAssemblyReference.cache
WebApplication2/obj/Debug/WebApplication2.dll
WebApplication2/obj/Debug/WebApplication2.pdb
MyNewsService.v12.suo
ServiceHelp/bin/Debug/ServiceHelp.dll
ServiceHelp/bin/Debug/ServiceHelp.pdb
ServiceHelp/obj/Debug/ServiceHelp.csproj.FileListAbsolute.txt
ServiceHelp/obj/Debug/ServiceHelp.dll
ServiceHelp/obj/Debug/ServiceHelp.pdb
WebApplication2/bin/ServiceHelp.dll
WebApplication2/bin/ServiceHelp.pdb
WebApplication2/bin/WebApplication2.dll
WebApplication2/bin/WebApplication2.dll.config
WebApplication2/bin/WebApplication2.pdb
WebApplication2/logs/Info/2015080421.txt
WebApplication2/logs/Info/2015080422.txt
WebApplication2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication2/obj/Debug/WebApplication2.csproj.FileListAbsolute.txt
WebApplication2/obj/Debug/WebApplication2.csprojResolveAssemblyReference.cache
WebApplication2/obj/Debug/WebApplication2.dll
WebApplication2/obj/Debug/WebApplication2.pdb
WebApplication2/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication2/obj/Release/Package/PackageTmp/bin/WebApplication2.dll
WebApplication2/obj/Release/Package/PackageTmp/Web.config
WebApplication2/obj/Release/TransformWebConfig/original/Web.config
WebApplication2/obj/Release/TransformWebConfig/transformed/Web.config
WebApplication2/obj/Release/WebApplication2.csproj.FileListAbsolute.txt
WebApplication2/obj/Release/WebApplication2.csprojResolveAssemblyReference.cache
WebApplication2/obj/Release/WebApplication2.dll
WebApplication2/obj/Release/WebApplication2.pdb
WebApplication2/Properties/PublishProfiles/test.pubxml.user
MyNewsService.v12.suo
ServiceHelp/bin/Release/ServiceHelp.dll
ServiceHelp/bin/Release/ServiceHelp.pdb
ServiceHelp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ServiceHelp/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
ServiceHelp/obj/Release/ServiceHelp.csproj.FileListAbsolute.txt
ServiceHelp/obj/Release/ServiceHelp.dll
ServiceHelp/obj/Release/ServiceHelp.pdb
TestConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestConsole/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication2/bin/CommonService.dll
WebApplication2/bin/CommonUtility.dll
WebApplication2/bin/ServiceHelp.dll
WebApplication2/bin/ServiceHelp.pdb
WebApplication2/bin/WebApplication2.dll
WebApplication2/bin/WebApplication2.dll.config
WebApplication2/bin/WebApplication2.pdb
WebApplication2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication2/obj/Release/_WPPLastBuildInfo.txt
WebApplication2/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication2/obj/Release/Package/PackageTmp/bin/CommonService.dll
WebApplication2/obj/Release/Package/PackageTmp/bin/CommonUtility.dll
WebApplication2/obj/Release/Package/PackageTmp/bin/ServiceHelp.dll
WebApplication2/obj/Release/Package/PackageTmp/bin/WebApplication2.dll
WebApplication2/obj/Release/Package/PackageTmp/Web.config
WebApplication2/obj/Release/TransformWebConfig/original/Web.config
WebApplication2/obj/Release/TransformWebConfig/transformed/Web.config
WebApplication2/obj/Release/WebApplication2.csproj.FileListAbsolute.txt
WebApplication2/obj/Release/WebApplication2.csprojResolveAssemblyReference.cache
WebApplication2/obj/Release/WebApplication2.dll
WebApplication2/obj/Release/WebApplication2.pdb
WebApplication2/Properties/PublishProfiles/test.pubxml
WebApplication2/Properties/PublishProfiles/test.pubxml.user
ServiceHelp/bin/Debug/ServiceHelp.dll
ServiceHelp/bin/Debug/ServiceHelp.pdb
ServiceHelp/bin/Release/ServiceHelp.dll
ServiceHelp/bin/Release/ServiceHelp.pdb
ServiceHelp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ServiceHelp/obj/Debug/ServiceHelp.csproj.FileListAbsolute.txt
ServiceHelp/obj/Debug/ServiceHelp.dll
ServiceHelp/obj/Debug/ServiceHelp.pdb
ServiceHelp/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
ServiceHelp/obj/Release/ServiceHelp.csproj.FileListAbsolute.txt
ServiceHelp/obj/Release/ServiceHelp.dll
ServiceHelp/obj/Release/ServiceHelp.pdb
TestConsole/bin/Debug/TestConsole.exe
TestConsole/bin/Debug/TestConsole.pdb
TestConsole/bin/Debug/TestConsole.vshost.exe
TestConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestConsole/obj/Debug/TestConsole.csproj.FileListAbsolute.txt
TestConsole/obj/Debug/TestConsole.csprojResolveAssemblyReference.cache
TestConsole/obj/Debug/TestConsole.exe
TestConsole/obj/Debug/TestConsole.pdb
TestConsole/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication2/bin/CommonService.dll
WebApplication2/bin/CommonUtility.dll
WebApplication2/bin/ServiceHelp.dll
WebApplication2/bin/ServiceHelp.pdb
WebApplication2/bin/WebApplication2.dll
WebApplication2/bin/WebApplication2.dll.config
WebApplication2/bin/WebApplication2.pdb
WebApplication2/logs/Info/2015080711.txt
WebApplication2/logs/Info/2015081115.txt
WebApplication2/logs/Info/2015081116.txt
WebApplication2/logs/Info/2015081117.txt
WebApplication2/logs/Info/2015081210.txt
WebApplication2/logs/Info/2015081217.txt
WebApplication2/logs/Info/2015081414.txt
WebApplication2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication2/obj/Debug/WebApplication2.csproj.FileListAbsolute.txt
WebApplication2/obj/Debug/WebApplication2.csprojResolveAssemblyReference.cache
WebApplication2/obj/Debug/WebApplication2.dll
WebApplication2/obj/Debug/WebApplication2.pdb
WebApplication2/obj/Release/_WPPLastBuildInfo.txt
WebApplication2/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication2/obj/Release/Package/PackageTmp/bin/CommonService.dll
WebApplication2/obj/Release/Package/PackageTmp/bin/CommonUtility.dll
WebApplication2/obj/Release/Package/PackageTmp/bin/ServiceHelp.dll
WebApplication2/obj/Release/Package/PackageTmp/bin/WebApplication2.dll
WebApplication2/obj/Release/Package/PackageTmp/Web.config
WebApplication2/obj/Release/TransformWebConfig/original/Web.config
WebApplication2/obj/Release/TransformWebConfig/transformed/Web.config
WebApplication2/obj/Release/WebApplication2.csproj.FileListAbsolute.txt
WebApplication2/obj/Release/WebApplication2.csprojResolveAssemblyReference.cache
WebApplication2/obj/Release/WebApplication2.dll
WebApplication2/obj/Release/WebApplication2.pdb
WebApplication2/Properties/PublishProfiles/test.pubxml
WebApplication2/Properties/PublishProfiles/test.pubxml.user
